/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  
}

/* -------  Navigation ------- */

header {
  display: flex;
  flex-direction: column;
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul {
  display: flex; 
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
}


header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  display: flex;
  flex-direction: column;
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold; 
}

form select,
form input {
  margin-bottom: 20px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  width: 100%;
  height: 50px;
  margin-left: 5px;
}


/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px){
  .group {
    display: flex;
    flex-direction: row;
  
  }

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-content: center; */
    justify-content:space-around;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    font-size: 36px;
  }
  .item-double{
    flex-direction: column;
  }
  /* .item-double{
    flex-direction: row;
    align-Items: 'flex-start';
    flex: 1;
  } */
}

.form-menu {
  display: flex;
  flex-wrap: wrap;
}

.form-menu label {
  flex: 1;
  width: 100%;
}

.form-menu input{
  flex: 1;
  padding: 0;
}

.form-menu select{
  flex: 1;
}